<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>블로그</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
  <body>
  

<!-- Begin page content -->

  
   <h2>컨텐츠리스트</h2>

<p th:text="${contentsList}"></p>  
  
   <table>
     <thead>
    	<tr>
         <td>아이디</td>
        
        
        
    	</tr>
     </thead>
     <tbody>
<!--     <tr th:each="contents : ${contentList}">
         <td th:text="$.mid}"><a th:href="@{/member/details(id=${orderInfo.seq})}"></a></td>             
     </tr>
-->     </tbody>
     </table> 
   
  </body>

 
</html>