<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginFrm</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<h1>로그인</h1>
<form action="/member/auth/login" th:object="${user}" method="POST" enctype="utf8">
  
    <div>
        <label>id</label>
        <input type="text" th:field="*{mid}"/>       
    </div>
   
    <div>
        <label>password</label>
        <input type="password" th:field="*{mpwd}"/>
    </div>
    
    <button type="submit">login</button>
</form>
</body>

</html>
