<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 테스트</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
  

<h3>댓글 입력</h3>

  <form action="/rest/edit" method="POST">
	댓글 내용 : <input type="text" name="rtext"/>
	cid 글 번호 : <input type="text" name="cid" value="1">
	mid 작성자 번호 : <input type="text" name="mid" value="1">  
	<input type = "submit" value = "제출"/>
  </form>
 </body>
  
</html>